.Container {
  text-align: center;
  max-width: 300px;
  border: solid 2px rgb(227, 227, 227);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
}

.Heading1 {
  margin-top: 0px;
}

.IncButton {
  border: none;
  border-radius: 3px;
  height: 30px;
  background-color: rgb(29, 179, 29);
  color: white;
  margin-right: 10px;
}

.DecButton {
  border: none;
  border-radius: 3px;
  height: 30px;
  background-color: rgb(179, 29, 29);
  color: white;
  margin-right: 10px;
}

.ResButton {
  border: none;
  border-radius: 3px;
  height: 30px;
  background-color: rgb(134, 157, 172);
  color: white;
}